# Analysis code for "Geographically restricted malaria infections of wild bonobos include a new Laverania species"

To regenerate this document, run `make` in this directory.

The code depends on R packages available from CRAN:

* library(actuar)
* library(ade4)
* library(ape)
* library(parallel)
* library(phyloseq)
* library(Rtsne)
* library(vegan)
* library(vipor)
* library(taxonomizr)

And convenience function in the package:

* library(dnar)

installable with `devtools::install_github('sherrillmix/dnar')`.

And programs:

* [makeblastdb](https://packages.ubuntu.com/xenial/ncbi-blast+)
* [blastn](https://packages.ubuntu.com/xenial/ncbi-blast+)
* [miniconda](https://conda.io/miniconda.html)
* [pick_de_novo_otus.py](http://qiime.org/install/install.html)
* [fastq-dump](https://www.ncbi.nlm.nih.gov/sra/docs/toolkitsoft/)
* [swarm](https://github.com/torognes/swarm)
* [mafft](http://mafft.cbrc.jp/alignment/software/source.html)
* [bbmerge.sh](http://jgi.doe.gov/data-and-tools/bbtools/bb-tools-user-guide/installation-guide/)
* [fasttree](https://packages.ubuntu.com/xenial/fasttree)
* [parallel](https://packages.ubuntu.com/xenial/parallel)
* R
* zcat
* gzip
* bash
* make

